@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    height: 100%;
}

/* a blue color as a generic focus style */
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}

a {
    text-decoration: none;
}

:root {
    --navy: rgba(0, 100, 168, 1);
    --body-text-gray: rgba(120, 120, 120, 1);
    --orange: rgba(244, 138, 12, 1);
    --bright-blue: rgba(63, 141, 232, 1);
    --background-light-gray: rgba(250, 250, 250, 1);
    --basewhite: rgba(255, 255, 255, 1);
    --gray-900: rgba(24, 29, 39, 1);
    --stats-large-font-family: "Inter", Helvetica;
    --stats-large-font-weight: 700;
    --stats-large-font-size: 64px;
    --stats-large-letter-spacing: -1.28px;
    --stats-large-line-height: 62px;
    --stats-large-font-style: normal;
    --stats-small-font-family: "Inter", Helvetica;
    --stats-small-font-weight: 700;
    --stats-small-font-size: 48px;
    --stats-small-letter-spacing: -0.96px;
    --stats-small-line-height: 60px;
    --stats-small-font-style: normal;
    --display-2xl-regular-font-family: "Inter", Helvetica;
    --display-2xl-regular-font-weight: 400;
    --display-2xl-regular-font-size: 72px;
    --display-2xl-regular-letter-spacing: -1.44px;
    --display-2xl-regular-line-height: 90px;
    --display-2xl-regular-font-style: normal;
    --display-2xl-medium-font-family: "Inter", Helvetica;
    --display-2xl-medium-font-weight: 500;
    --display-2xl-medium-font-size: 72px;
    --display-2xl-medium-letter-spacing: -1.44px;
    --display-2xl-medium-line-height: 90px;
    --display-2xl-medium-font-style: normal;
    --display-2xl-semibold-font-family: "Inter", Helvetica;
    --display-2xl-semibold-font-weight: 600;
    --display-2xl-semibold-font-size: 72px;
    --display-2xl-semibold-letter-spacing: -1.44px;
    --display-2xl-semibold-line-height: 90px;
    --display-2xl-semibold-font-style: normal;
    --display-2xl-bold-font-family: "Inter", Helvetica;
    --display-2xl-bold-font-weight: 700;
    --display-2xl-bold-font-size: 72px;
    --display-2xl-bold-letter-spacing: -1.44px;
    --display-2xl-bold-line-height: 90px;
    --display-2xl-bold-font-style: normal;
    --display-xl-regular-font-family: "Inter", Helvetica;
    --display-xl-regular-font-weight: 400;
    --display-xl-regular-font-size: 60px;
    --display-xl-regular-letter-spacing: -1.2px;
    --display-xl-regular-line-height: 72px;
    --display-xl-regular-font-style: normal;
    --display-xl-medium-font-family: "Inter", Helvetica;
    --display-xl-medium-font-weight: 500;
    --display-xl-medium-font-size: 60px;
    --display-xl-medium-letter-spacing: -1.2px;
    --display-xl-medium-line-height: 72px;
    --display-xl-medium-font-style: normal;
    --display-xl-semibold-font-family: "Inter", Helvetica;
    --display-xl-semibold-font-weight: 600;
    --display-xl-semibold-font-size: 60px;
    --display-xl-semibold-letter-spacing: -1.2px;
    --display-xl-semibold-line-height: 72px;
    --display-xl-semibold-font-style: normal;
    --display-xl-bold-font-family: "Inter", Helvetica;
    --display-xl-bold-font-weight: 700;
    --display-xl-bold-font-size: 60px;
    --display-xl-bold-letter-spacing: -1.2px;
    --display-xl-bold-line-height: 72px;
    --display-xl-bold-font-style: normal;
    --display-lg-regular-font-family: "Inter", Helvetica;
    --display-lg-regular-font-weight: 400;
    --display-lg-regular-font-size: 48px;
    --display-lg-regular-letter-spacing: -0.96px;
    --display-lg-regular-line-height: 60px;
    --display-lg-regular-font-style: normal;
    --display-lg-medium-font-family: "Inter", Helvetica;
    --display-lg-medium-font-weight: 500;
    --display-lg-medium-font-size: 48px;
    --display-lg-medium-letter-spacing: -0.96px;
    --display-lg-medium-line-height: 60px;
    --display-lg-medium-font-style: normal;
    --display-lg-semibold-font-family: "Inter", Helvetica;
    --display-lg-semibold-font-weight: 600;
    --display-lg-semibold-font-size: 48px;
    --display-lg-semibold-letter-spacing: -0.96px;
    --display-lg-semibold-line-height: 60px;
    --display-lg-semibold-font-style: normal;
    --display-lg-bold-font-family: "Inter", Helvetica;
    --display-lg-bold-font-weight: 700;
    --display-lg-bold-font-size: 48px;
    --display-lg-bold-letter-spacing: -0.96px;
    --display-lg-bold-line-height: 60px;
    --display-lg-bold-font-style: normal;
    --display-md-regular-font-family: "Inter", Helvetica;
    --display-md-regular-font-weight: 400;
    --display-md-regular-font-size: 36px;
    --display-md-regular-letter-spacing: -0.72px;
    --display-md-regular-line-height: 44px;
    --display-md-regular-font-style: normal;
    --display-md-medium-font-family: "Inter", Helvetica;
    --display-md-medium-font-weight: 500;
    --display-md-medium-font-size: 36px;
    --display-md-medium-letter-spacing: -0.72px;
    --display-md-medium-line-height: 44px;
    --display-md-medium-font-style: normal;
    --display-md-semibold-font-family: "Inter", Helvetica;
    --display-md-semibold-font-weight: 600;
    --display-md-semibold-font-size: 36px;
    --display-md-semibold-letter-spacing: -0.72px;
    --display-md-semibold-line-height: 44px;
    --display-md-semibold-font-style: normal;
    --display-md-bold-font-family: "Inter", Helvetica;
    --display-md-bold-font-weight: 700;
    --display-md-bold-font-size: 36px;
    --display-md-bold-letter-spacing: -0.72px;
    --display-md-bold-line-height: 44px;
    --display-md-bold-font-style: normal;
    --display-sm-regular-font-family: "Inter", Helvetica;
    --display-sm-regular-font-weight: 400;
    --display-sm-regular-font-size: 30px;
    --display-sm-regular-letter-spacing: 0px;
    --display-sm-regular-line-height: 38px;
    --display-sm-regular-font-style: normal;
    --display-sm-medium-font-family: "Inter", Helvetica;
    --display-sm-medium-font-weight: 500;
    --display-sm-medium-font-size: 30px;
    --display-sm-medium-letter-spacing: 0px;
    --display-sm-medium-line-height: 38px;
    --display-sm-medium-font-style: normal;
    --display-sm-semibold-font-family: "Inter", Helvetica;
    --display-sm-semibold-font-weight: 600;
    --display-sm-semibold-font-size: 30px;
    --display-sm-semibold-letter-spacing: 0px;
    --display-sm-semibold-line-height: 38px;
    --display-sm-semibold-font-style: normal;
    --display-sm-bold-font-family: "Inter", Helvetica;
    --display-sm-bold-font-weight: 700;
    --display-sm-bold-font-size: 30px;
    --display-sm-bold-letter-spacing: 0px;
    --display-sm-bold-line-height: 38px;
    --display-sm-bold-font-style: normal;
    --display-sm-medium-italic-font-family: "Inter", Helvetica;
    --display-sm-medium-italic-font-weight: 500;
    --display-sm-medium-italic-font-size: 30px;
    --display-sm-medium-italic-letter-spacing: 0px;
    --display-sm-medium-italic-line-height: 38px;
    --display-sm-medium-italic-font-style: italic;
    --display-xs-regular-font-family: "Inter", Helvetica;
    --display-xs-regular-font-weight: 400;
    --display-xs-regular-font-size: 24px;
    --display-xs-regular-letter-spacing: 0px;
    --display-xs-regular-line-height: 32px;
    --display-xs-regular-font-style: normal;
    --display-xs-medium-font-family: "Inter", Helvetica;
    --display-xs-medium-font-weight: 500;
    --display-xs-medium-font-size: 24px;
    --display-xs-medium-letter-spacing: 0px;
    --display-xs-medium-line-height: 32px;
    --display-xs-medium-font-style: normal;
    --display-xs-semibold-font-family: "Inter", Helvetica;
    --display-xs-semibold-font-weight: 600;
    --display-xs-semibold-font-size: 24px;
    --display-xs-semibold-letter-spacing: 0px;
    --display-xs-semibold-line-height: 32px;
    --display-xs-semibold-font-style: normal;
    --display-xs-bold-font-family: "Inter", Helvetica;
    --display-xs-bold-font-weight: 700;
    --display-xs-bold-font-size: 24px;
    --display-xs-bold-letter-spacing: 0px;
    --display-xs-bold-line-height: 32px;
    --display-xs-bold-font-style: normal;
    --display-xs-medium-italic-font-family: "Inter", Helvetica;
    --display-xs-medium-italic-font-weight: 500;
    --display-xs-medium-italic-font-size: 24px;
    --display-xs-medium-italic-letter-spacing: 0px;
    --display-xs-medium-italic-line-height: 32px;
    --display-xs-medium-italic-font-style: italic;
    --text-xl-regular-font-family: "Inter", Helvetica;
    --text-xl-regular-font-weight: 400;
    --text-xl-regular-font-size: 20px;
    --text-xl-regular-letter-spacing: 0px;
    --text-xl-regular-line-height: 30px;
    --text-xl-regular-font-style: normal;
    --text-xl-medium-font-family: "Inter", Helvetica;
    --text-xl-medium-font-weight: 500;
    --text-xl-medium-font-size: 20px;
    --text-xl-medium-letter-spacing: 0px;
    --text-xl-medium-line-height: 30px;
    --text-xl-medium-font-style: normal;
    --text-xl-semibold-font-family: "Inter", Helvetica;
    --text-xl-semibold-font-weight: 600;
    --text-xl-semibold-font-size: 20px;
    --text-xl-semibold-letter-spacing: 0px;
    --text-xl-semibold-line-height: 30px;
    --text-xl-semibold-font-style: normal;
    --text-xl-bold-font-family: "Inter", Helvetica;
    --text-xl-bold-font-weight: 700;
    --text-xl-bold-font-size: 20px;
    --text-xl-bold-letter-spacing: 0px;
    --text-xl-bold-line-height: 30px;
    --text-xl-bold-font-style: normal;
    --text-xl-regular-italic-font-family: "Inter", Helvetica;
    --text-xl-regular-italic-font-weight: 400;
    --text-xl-regular-italic-font-size: 20px;
    --text-xl-regular-italic-letter-spacing: 0px;
    --text-xl-regular-italic-line-height: 30px;
    --text-xl-regular-italic-font-style: italic;
    --text-xl-medium-italic-font-family: "Inter", Helvetica;
    --text-xl-medium-italic-font-weight: 500;
    --text-xl-medium-italic-font-size: 20px;
    --text-xl-medium-italic-letter-spacing: 0px;
    --text-xl-medium-italic-line-height: 30px;
    --text-xl-medium-italic-font-style: italic;
    --text-xl-semibold-italic-font-family: "Inter", Helvetica;
    --text-xl-semibold-italic-font-weight: 600;
    --text-xl-semibold-italic-font-size: 20px;
    --text-xl-semibold-italic-letter-spacing: 0px;
    --text-xl-semibold-italic-line-height: 30px;
    --text-xl-semibold-italic-font-style: italic;
    --text-xl-bold-italic-font-family: "Inter", Helvetica;
    --text-xl-bold-italic-font-weight: 700;
    --text-xl-bold-italic-font-size: 20px;
    --text-xl-bold-italic-letter-spacing: 0px;
    --text-xl-bold-italic-line-height: 30px;
    --text-xl-bold-italic-font-style: italic;
    --text-xl-regular-underlined-font-family: "Inter", Helvetica;
    --text-xl-regular-underlined-font-weight: 400;
    --text-xl-regular-underlined-font-size: 20px;
    --text-xl-regular-underlined-letter-spacing: 0px;
    --text-xl-regular-underlined-line-height: 30px;
    --text-xl-regular-underlined-font-style: normal;
    --text-lg-regular-font-family: "Inter", Helvetica;
    --text-lg-regular-font-weight: 400;
    --text-lg-regular-font-size: 18px;
    --text-lg-regular-letter-spacing: 0px;
    --text-lg-regular-line-height: 28px;
    --text-lg-regular-font-style: normal;
    --text-lg-medium-font-family: "Inter", Helvetica;
    --text-lg-medium-font-weight: 500;
    --text-lg-medium-font-size: 18px;
    --text-lg-medium-letter-spacing: 0px;
    --text-lg-medium-line-height: 28px;
    --text-lg-medium-font-style: normal;
    --text-lg-semibold-font-family: "Inter", Helvetica;
    --text-lg-semibold-font-weight: 600;
    --text-lg-semibold-font-size: 18px;
    --text-lg-semibold-letter-spacing: 0px;
    --text-lg-semibold-line-height: 28px;
    --text-lg-semibold-font-style: normal;
    --text-lg-bold-font-family: "Inter", Helvetica;
    --text-lg-bold-font-weight: 700;
    --text-lg-bold-font-size: 18px;
    --text-lg-bold-letter-spacing: 0px;
    --text-lg-bold-line-height: 28px;
    --text-lg-bold-font-style: normal;
    --text-lg-regular-italic-font-family: "Inter", Helvetica;
    --text-lg-regular-italic-font-weight: 400;
    --text-lg-regular-italic-font-size: 18px;
    --text-lg-regular-italic-letter-spacing: 0px;
    --text-lg-regular-italic-line-height: 28px;
    --text-lg-regular-italic-font-style: italic;
    --text-lg-medium-italic-font-family: "Inter", Helvetica;
    --text-lg-medium-italic-font-weight: 500;
    --text-lg-medium-italic-font-size: 18px;
    --text-lg-medium-italic-letter-spacing: 0px;
    --text-lg-medium-italic-line-height: 28px;
    --text-lg-medium-italic-font-style: italic;
    --text-lg-semibold-italic-font-family: "Inter", Helvetica;
    --text-lg-semibold-italic-font-weight: 600;
    --text-lg-semibold-italic-font-size: 18px;
    --text-lg-semibold-italic-letter-spacing: 0px;
    --text-lg-semibold-italic-line-height: 28px;
    --text-lg-semibold-italic-font-style: italic;
    --text-lg-bold-italic-font-family: "Inter", Helvetica;
    --text-lg-bold-italic-font-weight: 700;
    --text-lg-bold-italic-font-size: 18px;
    --text-lg-bold-italic-letter-spacing: 0px;
    --text-lg-bold-italic-line-height: 28px;
    --text-lg-bold-italic-font-style: italic;
    --text-lg-regular-underlined-font-family: "Inter", Helvetica;
    --text-lg-regular-underlined-font-weight: 400;
    --text-lg-regular-underlined-font-size: 18px;
    --text-lg-regular-underlined-letter-spacing: 0px;
    --text-lg-regular-underlined-line-height: 28px;
    --text-lg-regular-underlined-font-style: normal;
    --text-lg-medium-underlined-font-family: "Inter", Helvetica;
    --text-lg-medium-underlined-font-weight: 500;
    --text-lg-medium-underlined-font-size: 18px;
    --text-lg-medium-underlined-letter-spacing: 0px;
    --text-lg-medium-underlined-line-height: 28px;
    --text-lg-medium-underlined-font-style: normal;
    --text-lg-semibold-underlined-font-family: "Inter", Helvetica;
    --text-lg-semibold-underlined-font-weight: 600;
    --text-lg-semibold-underlined-font-size: 18px;
    --text-lg-semibold-underlined-letter-spacing: 0px;
    --text-lg-semibold-underlined-line-height: 28px;
    --text-lg-semibold-underlined-font-style: normal;
    --text-md-regular-font-family: "Inter", Helvetica;
    --text-md-regular-font-weight: 400;
    --text-md-regular-font-size: 16px;
    --text-md-regular-letter-spacing: 0px;
    --text-md-regular-line-height: 24px;
    --text-md-regular-font-style: normal;
    --text-md-medium-font-family: "Inter", Helvetica;
    --text-md-medium-font-weight: 500;
    --text-md-medium-font-size: 16px;
    --text-md-medium-letter-spacing: 0px;
    --text-md-medium-line-height: 24px;
    --text-md-medium-font-style: normal;
    --text-md-semibold-font-family: "Inter", Helvetica;
    --text-md-semibold-font-weight: 600;
    --text-md-semibold-font-size: 16px;
    --text-md-semibold-letter-spacing: 0px;
    --text-md-semibold-line-height: 24px;
    --text-md-semibold-font-style: normal;
    --text-md-bold-font-family: "Inter", Helvetica;
    --text-md-bold-font-weight: 700;
    --text-md-bold-font-size: 16px;
    --text-md-bold-letter-spacing: 0px;
    --text-md-bold-line-height: 24px;
    --text-md-bold-font-style: normal;
    --text-md-regular-italic-font-family: "Inter", Helvetica;
    --text-md-regular-italic-font-weight: 400;
    --text-md-regular-italic-font-size: 16px;
    --text-md-regular-italic-letter-spacing: 0px;
    --text-md-regular-italic-line-height: 24px;
    --text-md-regular-italic-font-style: italic;
    --text-md-medium-italic-font-family: "Inter", Helvetica;
    --text-md-medium-italic-font-weight: 500;
    --text-md-medium-italic-font-size: 16px;
    --text-md-medium-italic-letter-spacing: 0px;
    --text-md-medium-italic-line-height: 24px;
    --text-md-medium-italic-font-style: italic;
    --text-md-semibold-italic-font-family: "Inter", Helvetica;
    --text-md-semibold-italic-font-weight: 600;
    --text-md-semibold-italic-font-size: 16px;
    --text-md-semibold-italic-letter-spacing: 0px;
    --text-md-semibold-italic-line-height: 24px;
    --text-md-semibold-italic-font-style: italic;
    --text-md-bold-italic-font-family: "Inter", Helvetica;
    --text-md-bold-italic-font-weight: 700;
    --text-md-bold-italic-font-size: 16px;
    --text-md-bold-italic-letter-spacing: 0px;
    --text-md-bold-italic-line-height: 24px;
    --text-md-bold-italic-font-style: italic;
    --text-md-regular-underlined-font-family: "Inter", Helvetica;
    --text-md-regular-underlined-font-weight: 400;
    --text-md-regular-underlined-font-size: 16px;
    --text-md-regular-underlined-letter-spacing: 0px;
    --text-md-regular-underlined-line-height: 24px;
    --text-md-regular-underlined-font-style: normal;
    --text-md-medium-underlined-font-family: "Inter", Helvetica;
    --text-md-medium-underlined-font-weight: 500;
    --text-md-medium-underlined-font-size: 16px;
    --text-md-medium-underlined-letter-spacing: 0px;
    --text-md-medium-underlined-line-height: 24px;
    --text-md-medium-underlined-font-style: normal;
    --text-md-semibold-underlined-font-family: "Inter", Helvetica;
    --text-md-semibold-underlined-font-weight: 600;
    --text-md-semibold-underlined-font-size: 16px;
    --text-md-semibold-underlined-letter-spacing: 0px;
    --text-md-semibold-underlined-line-height: 24px;
    --text-md-semibold-underlined-font-style: normal;
    --text-sm-regular-font-family: "Inter", Helvetica;
    --text-sm-regular-font-weight: 400;
    --text-sm-regular-font-size: 14px;
    --text-sm-regular-letter-spacing: 0px;
    --text-sm-regular-line-height: 20px;
    --text-sm-regular-font-style: normal;
    --text-sm-medium-font-family: "Inter", Helvetica;
    --text-sm-medium-font-weight: 500;
    --text-sm-medium-font-size: 14px;
    --text-sm-medium-letter-spacing: 0px;
    --text-sm-medium-line-height: 20px;
    --text-sm-medium-font-style: normal;
    --text-sm-semibold-font-family: "Inter", Helvetica;
    --text-sm-semibold-font-weight: 600;
    --text-sm-semibold-font-size: 14px;
    --text-sm-semibold-letter-spacing: 0px;
    --text-sm-semibold-line-height: 20px;
    --text-sm-semibold-font-style: normal;
    --text-sm-bold-font-family: "Inter", Helvetica;
    --text-sm-bold-font-weight: 700;
    --text-sm-bold-font-size: 14px;
    --text-sm-bold-letter-spacing: 0px;
    --text-sm-bold-line-height: 20px;
    --text-sm-bold-font-style: normal;
    --text-sm-regular-underlined-font-family: "Inter", Helvetica;
    --text-sm-regular-underlined-font-weight: 400;
    --text-sm-regular-underlined-font-size: 14px;
    --text-sm-regular-underlined-letter-spacing: 0px;
    --text-sm-regular-underlined-line-height: 20px;
    --text-sm-regular-underlined-font-style: normal;
    --text-sm-medium-underlined-font-family: "Inter", Helvetica;
    --text-sm-medium-underlined-font-weight: 500;
    --text-sm-medium-underlined-font-size: 14px;
    --text-sm-medium-underlined-letter-spacing: 0px;
    --text-sm-medium-underlined-line-height: 20px;
    --text-sm-medium-underlined-font-style: normal;
    --text-sm-semibold-underlined-font-family: "Inter", Helvetica;
    --text-sm-semibold-underlined-font-weight: 600;
    --text-sm-semibold-underlined-font-size: 14px;
    --text-sm-semibold-underlined-letter-spacing: 0px;
    --text-sm-semibold-underlined-line-height: 20px;
    --text-sm-semibold-underlined-font-style: normal;
    --text-xs-regular-font-family: "Inter", Helvetica;
    --text-xs-regular-font-weight: 400;
    --text-xs-regular-font-size: 12px;
    --text-xs-regular-letter-spacing: 0px;
    --text-xs-regular-line-height: 18px;
    --text-xs-regular-font-style: normal;
    --text-xs-medium-font-family: "Inter", Helvetica;
    --text-xs-medium-font-weight: 500;
    --text-xs-medium-font-size: 12px;
    --text-xs-medium-letter-spacing: 0px;
    --text-xs-medium-line-height: 18px;
    --text-xs-medium-font-style: normal;
    --text-xs-semibold-font-family: "Inter", Helvetica;
    --text-xs-semibold-font-weight: 600;
    --text-xs-semibold-font-size: 12px;
    --text-xs-semibold-letter-spacing: 0px;
    --text-xs-semibold-line-height: 18px;
    --text-xs-semibold-font-style: normal;
    --text-xs-bold-font-family: "Inter", Helvetica;
    --text-xs-bold-font-weight: 700;
    --text-xs-bold-font-size: 12px;
    --text-xs-bold-letter-spacing: 0px;
    --text-xs-bold-line-height: 18px;
    --text-xs-bold-font-style: normal;
    --shadows-shadow-xs: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
    --shadows-shadow-lg:
        0px 2px 2px -1px rgba(10, 13, 18, 0.04), 0px 4px 6px -2px rgba(10,
            13,
            18,
            0.03), 0px 12px 16px -4px rgba(10, 13, 18, 0.08);
}